:root {
    --orange-background: rgb(204, 137, 89);
}

* {
    background-color: white;
}

body {
    background-color: var(--orange-background);
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    color: #333;
    text-align: center;
    opacity: 0.9;
    background-image: url("./assets/img/restaurant-table-sunset-empty-outdoor-32601822.jpg");
}
header {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-color: var(--orange-background);
    color: rgb(241, 212, 154);
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1 {
    display: flex;
    justify-content: start;
    font-size: 3em;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 8px;
}
header nav {
    background-color: var(--orange-background);
}

header button {
    font-size: 2em;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: none;
}
header button:hover {
    cursor: pointer
}
#content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}
#content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}
#content p {
    font-size: 1.1em;
    line-height: 1.6;
}
footer {
    background-color: var(--orange-background);
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    background-color: var(--orange-background);
}